<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head"></head>

<body class="bg-light">

<div class="container">
    <div class="py-5 text-center">
        <h2>Add new client</h2>
    </div>
    <div class="row">
        <div class="col-md-12 order-md-1">
            <form class="needs-validation" method="POST" th:action="@{/clients/add}" th:object="${clientForm}">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">First name</label>
                        <input class="form-control" id="firstName" placeholder="" th:field="*{firstName}" type="text"
                               value="">
                        <div class="invalid-feedback" style="display:block"
                             th:errors="*{firstName}" th:if="${#fields.hasErrors('firstName')}">
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName">Last name</label>
                        <input class="form-control" id="lastName" placeholder="" th:field="*{lastName}" type="text"
                               value="">
                        <div class="invalid-feedback" style="display:block"
                             th:errors="*{lastName}" th:if="${#fields.hasErrors('lastName')}">
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="username">Username <span class="text-muted"></span></label>
                    <input class="form-control" id="username" placeholder="" th:field="*{username}" type="text">
                    <div class="invalid-feedback" style="display:block"
                         th:errors="*{username}" th:if="${#fields.hasErrors('username')}">
                    </div>
                </div>

                <div class="mb-3">
                    <label for="email">Email <span class="text-muted">(Optional)</span></label>
                    <input class="form-control" id="email" placeholder="you@example.com" th:field="*{email}"
                           type="email">
                    <div class="invalid-feedback" style="display:block"
                         th:errors="*{email}" th:if="${#fields.hasErrors('email')}">
                    </div>
                </div>

                <div class="mb-3">
                    <label for="address">Address</label>
                    <input class="form-control" id="address" placeholder="1234 Main St" th:field="*{address}"
                           type="text">
                    <div class="invalid-feedback" style="display:block"
                         th:errors="*{address}" th:if="${#fields.hasErrors('address')}">
                    </div>
                </div>

                <div class="mb-3">
                    <label for="country">Country</label>
                    <select class="custom-select d-block w-100" id="country" th:field="*{country}">
                        <option th:each="country: ${countries}"
                                th:text="${country.name}"
                                th:value="${country.countryCode}"></option>
                    </select>
                </div>

                <hr class="mb-4">

                <button class="btn btn-primary btn-lg btn-block" type="submit">Add Client</button>
            </form>
        </div>
    </div>
</div>
<footer th:include="fragments/footer"></footer>
</body>
</html>
