<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head"></head>

<body class="bg-light">
<div class="container">
    <div class="py-5 text-center">
        <h2>Clients</h2>
    </div>

    <div class="row">
        <a class="btn btn-primary" href="clients/add">Add client</a>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Username</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="client: ${clients}">
                <th scope="row" th:text="${clientStat.index}"></th>
                <td th:text="${client.firstName}"></td>
                <td th:text="${client.lastName}"></td>
                <td th:text="${client.userName}"></td>
                <td>
                    <a class="btn btn-primary" th:href="${'clients/' + client.userName + '/edit'}">Edit client</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<footer th:include="fragments/footer"></footer>
</body>
</html>